@import 'colors';
@import 'mixins';
@import 'functions';

.course__table1 {
  border: 3px solid $secondary-dark-color;
  margin-top: 35px;
  margin-left: 520px;
  display: grid;
  grid-template-columns: 263px 1128px;
}
.course__block-photo {
  background-color: $secondary-color;
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 192px;
  width: 263;
}
.course__block-name {
  grid-column: 2;
  grid-row: 1;
  height: 58px;
  border-bottom: 5px solid $secondary-dark-color;
  border-left: 5px solid $secondary-dark-color;
  padding-left: 10px;
  background-color: $secondary-color;
  color: white;
}
.course__block-description {
  grid-column-start: 2;
  grid-row: 2 / span 1;
  height: 134px;
  border: 1px;
  border-left: 5px solid $secondary-dark-color;
  padding-left: 10px;
  background-color: $secondary-color;
  color: white;
}
