backend/EducationWebsite/Registration/__pycache__/
backend/EducationWebsite/Registration/migrations/
backend/venv/
backend/EducationWebsite/EducationWebsite/__pycache__/wsgi.cpython-312.pyc
backend/EducationWebsite/EducationWebsite/__pycache__/urls.cpython-312.pyc
backend/EducationWebsite/EducationWebsite/__pycache__/__init__.cpython-312.pyc
backend/EducationWebsite/EducationWebsite/__pycache__/settings.cpython-312.pyc
