@font-face {
  font-family: 'JejuHallasan';
  src: url(../../../assets/fonts/JejuHallasan-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../../../assets/fonts/Inter-Black.otf);
}

@font-face {
  font-family: 'Huntress';
  src: url(../../../assets/fonts/huntress.otf);
}

@font-face {
  font-family: 'Jomhuria';
  src: url(../../../assets/fonts/Jomhuria-Regular.ttf);
}
