@import 'functions';

@font-face {
  font-family: 'JejuHallasan';
  src: url(../../../assets/fonts/JejuHallasan-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../../../assets/fonts/Inter-Black.otf);
}

@font-face {
  font-family: 'Huntress';
  src: url(../../../assets/fonts/huntress.otf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../../../assets/fonts/Roboto.ttf);
}

html {
  font-size: to-responsive(16px);
}
