@import 'mixins';
@import 'colors';

.login-form {
  @include flex($direction: column, $gap: 20px);

  font-family: Inter;
  color: $secondary-light-color;

  &__heading {
    font-size: max(2rem, 15px);
    text-shadow: 2px 4px 5px rgba(black, 0.5);
  }
}
