<p>courses-page works!</p>
<form class="course__find-course">
  <div>
    <label>
      <input class="course__find-input" type="text" placeholder="Найти курс " />
      <button class="courses__loopa">
        <img
          type="image"
          src="../../../../assets/images/loopa.png"
          alt="Find course"
        />
      </button>
    </label>
  </div>
</form>

<div class="btns">
  <button class="courses__popularsort-btn">по популярности</button>
  <button class="courses__newsort-btn">по новизне</button>
  <button class="courses__timesort-btn">по времени прохождения</button>
</div>

<p class="course__course-description">Описание курса</p>

<p class="course__course-name">Название курса</p>
