<section>
    <div class="content">
      <h2>О нет...с выходом в открытый космос вы настигли</h2>
      <h2>О нет...с выходом в открытый космос вы настигли</h2>
    </div>
  </section>


<img class ="class-404" src="../../../../assets/images/404.gif" alt="я джифка">




<section>
    <div class="error-404-anim">
    <h2 >ERROR 404</h2>
    <h2 >ERROR 404</h2>
</div>
</section>

<section>
    <div class="error">
    <h2 >Данная страница находится в доработке,надеваем скафандр</h2>
    <h2 >Данная страница находится в доработке,надеваем скафандр</h2>
</div>
</section>





