<header class="header">
    <nav class="header__navigaton">
        <ul class="header__links">
            <li class="header__link">
                <a><img src="../../../../assets/home-button.png" alt="Home button" class="header__home"></a>
            </li>
            <li class="header__link">
                <a class="header__regular-button">Мои курсы</a>
            </li>
            <li class="header__link">
                <a class="header__regular-button">Записаться на курс</a>
            </li>
            <li class="header__link">
                <a class="header__regular-button">Создать курс</a>
            </li>
            <li class="header__link">
                <a><img src="../../../../assets/profile-button.png" alt="Profile button" class="header__profile"></a>
            </li>
        </ul>
    </nav>
</header>