@import 'colors';
@import 'mixins';

.header {
  width: 100vw;
  height: 85px;

  background-color: $header-footer-bg;
  font-family: Jomhuria;
  font-size: 20px;

  padding: 9.5px 15px 0;
}

.header__links {
  @include flex($justify-content: space-between);
  list-style: none;
}

.header__regular-button {
  width: 380px;
  height: 40px;
  background-color: $secondary-color;
  border-radius: 75px;

  @include flex();

  color: $secondary-light-color;
  font-weight: bold;
}
