<form class="course__find-course">
  <div>
    <label>
      <input class="course__find-input" type="text" placeholder="Найти курс " />
      <button class="courses__loopa">
        <img
          type="image"
          src="../../../../assets/images/loopa.png"
          alt="Find course"
        />
      </button>
    </label>
  </div>
</form>



<div class="btns">
  <button class="courses__popularsort-btn">по популярности</button>
  <button class="courses__newsort-btn">по новизне</button>
  <button class="courses__timesort-btn">по времени прохождения</button>
</div>

<app-course-block> </app-course-block>
<app-course-block> </app-course-block>
<app-course-block> </app-course-block>

<div class= "slide-buttons"><button class="slide-button1">
  <img
  type="image"
  src="../../../../assets/images/slide-left.png"
  alt="Left"/></button>

  <button class="slide-button2">
    <img
    type="image"
    src="../../../../assets/images/slide-right.png"
    alt="Right"/></button></div>


<div class="wrap">
  <app-education-course></app-education-course>
  <app-education-course></app-education-course>
  <app-education-course></app-education-course>
  <app-education-course></app-education-course>
  <app-education-course></app-education-course>
</div>
