<form class="course__find-course">
  <div>
    <label>
      <input class="course__find-input" type="text" placeholder="Найти курс " />
      <button class="courses__loopa">
        <img
          type="image"
          src="../../../../assets/images/loopa.png"
          alt="Find course"
        />
      </button>
    </label>
  </div>
</form>

<app-education-course></app-education-course>
<app-education-course></app-education-course>
<app-education-course></app-education-course>
<app-education-course></app-education-course>

<div class="btns">
  <button class="courses__popularsort-btn">по популярности</button>
  <button class="courses__newsort-btn">по новизне</button>
  <button class="courses__timesort-btn">по времени прохождения</button>
</div>

<app-course-block> </app-course-block>
<app-course-block> </app-course-block>
<app-course-block> </app-course-block>

<div class="wrap">
  <div>
    <form class="course__education-form">
      <p class="course__education-course">Образовательный курс</p>
    </form>
  </div>
  <div><button>btn</button></div>
</div>
