@import 'typography';
@import 'app/shared/styles/components/button';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

form.ng-valid .submit-button {
  background-color: $secondary-light-color;
  color: $secondary-dark-color;
  border: 2px solid;
}
