/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */
:root {
  --header-footer-bg: #1028fd;
  --secondary-color: #37d3f5;
  --secondary-light-color: white;
  --secondary-dark-color: #286bcf;
}

@font-face {
  font-family: 'JejuHallasan';
  src: url(./assets/fonts/JejuHallasan-Regular.ttf);
}
