@import 'colors';
@import 'mixins';
@import 'functions';

.footer {
  width: 100%;
  aspect-ratio: 1920 / 85;

  @include flex();

  background-color: $header-footer-bg;

  color: $secondary-color;
  font-weight: 800;
  font-family: Roboto;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .footer {
    font-size: to-responsive(16px, $relative-to: 320px);
    aspect-ratio: 320 / 30;
  }
}
