@import 'colors';

.help-link {
  position: relative;
  font-size: max(1.5rem, 10px);

  color: $secondary-light-color;

  &::before {
    content: '';

    width: 110%;
    height: 1px;
    background-color: $header-footer-bg;

    position: absolute;
    top: 100%;
    left: -5%;
  }
}
