<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Education Website{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Здесь можете добавить ваш заголовок -->
        <h1>Мой заголовок</h1>
    </header>

    <nav>
        <!-- Здесь можете добавить ваше навигационное меню -->
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">О нас</a></li>
            <!-- Добавьте другие пункты меню здесь -->
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Содержимое страницы будет подставлено здесь -->
        {% endblock %}
    </main>

    <footer>
        <!-- Здесь можете добавить ваш подвал -->
        <p>Copyright &copy; 2024 Education Website</p>
    </footer>
</body>
</html>