@import 'colors';
@import 'mixins';
@import 'functions';

:host {
  height: calc(100vh - to-responsive(87.5px) * 2);
  @include flex($direction: column, $gap: 20px);
}

.main__hello-text {
  padding: to-responsive(10px);

  aspect-ratio: 908 / 247;
  width: to-responsive(908px, $min: 318px);
  border-radius: 100px;
  background-color: rgba($secondary-color, 0.35);

  font-family: JejuHallasan;
  color: $secondary-dark-color;
  text-align: center;
  font-size: 2rem;
}

.main__hello-image {
  display: block;
  height: to-responsive(
    500px,
    $dimension-size: 100vh,
    $relative-to: 1080px,
    $min: 200px
  );
}

@media (max-width: 500px) {
  .main__hello-text {
    font-size: to-responsive(12px, $relative-to: 500px);
  }

  .main__hello-image {
    width: 300px;
    height: auto;
  }
}
