<p class="main__hello-text" *ngIf="!isMobile; else mobileBlock">
  Добро пожаловать на наш сайт курсов! Мы<br />
  предлагаем возможность как проходить,так и<br />
  создавать увлекательные обучающие программы.<br />
  Независимо от того, являетесь ли вы студентом или<br />
  экспертом в своей области, здесь вы найдете<br />
  возможность раскрыть свой потенциал и делиться<br />
  знаниями с другими.
</p>
<img
  class="main__hello-image"
  src="../../../../assets/images/backgroung-main.png"
  alt="Приветственная картинка"
/>

<ng-template #mobileBlock>
  <p class="main__hello-text">
    Добро пожаловать на наш сайт курсов!<br />
    Мы предлагаем возможность как проходить,<br />
    так и создавать увлекательные обучающие<br />
    программы. Независимо от того, являетесь ли <br />
    вы студентом или экспертом в своей области, <br />здесь вы найдете
    возможность раскрыть свой<br />
    потенциал и делиться знаниями с другими.
  </p>
</ng-template>
