@import 'colors';
@import 'mixins';

.main__hello-text {
  @include flex();

  margin: 50px auto 0;
  padding: 10px;

  width: 915px;
  height: 250px;
  border-radius: 100px;
  background-color: rgba($secondary-color, 0.35);

  font-family: JejuHallasan;
  color: $secondary-dark-color;
  text-align: center;
  font-size: 32px;
}

.main__hello-image {
  display: block;
  width: auto;
  height: 496px;
  margin: 0 auto;
}
