@import 'colors';
@import 'mixins';
@import 'functions';

.main__hello-text {
  @include flex();

  margin: to-responsive(50px) auto 0;
  padding: to-responsive(10px);

  aspect-ratio: 915 / 250;
  width: to-responsive(915px);
  border-radius: to-responsive(100px);
  background-color: rgba($secondary-color, 0.35);

  font-family: JejuHallasan;
  color: $secondary-dark-color;
  text-align: center;
  font-size: 2rem;
}

.main__hello-image {
  display: block;
  width: auto;
  height: to-responsive(496px);
  margin: 0 auto;
}
